<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books | Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col">
                <h2 class="text-center">New Book</h2>
                <form action="books/submit" method="post">
                    <!-- title -->
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" name="title" id="title" class="form-control mb-3">
                    <!-- number of pages -->
                    <label for="num_of_pages" class="form-label">Number of Pages:</label>
                    <input type="text" name="num_of_pages" id="num_of_pages" class="form-control mb-3">
                    <!-- submit  -->
                    <input type="submit" value="Add Book" class="btn btn-primary">
                </form>
            </div>
            <div class="col">
                <h2 class="text-center">All Books</h2>
                <ul>
                    {% for book in all_books %}
                    <li><a href="/books/{{ book.id }}">{{ book.title }}</a></li>
                    {% endfor %}
                </ul>
                <p><a href="/authors">Home</a></p>
            </div>
        </div>
    </div>
</body>
</html>